@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
  color: #191726;
}

.section {
  padding-top: 80px;}