@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.section {
  padding-top: 80px;
}

.btn-primary {
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: none;
  color: #fbf3f3;
  background-color: #763feb;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  outline: none;
}

.btn-primary:hover {
  background-color: #e32929;
  border-color: #cbd5e0;
}

.image-sec {
  margin: auto 0;
}